<h1>Bem vindo a Lista de Compras</h1>


<h3>O que deseja fazer?</h3>

<a href="/items">Lista todos os items</a>


<form action="/procura" method="GET">
    <p>Procurar por algum item por ID</p>
    <input type="text" placeholder="item procurado" name="busca">
    <input type="submit">
</form>
