<% include partials/header %>


	<header class="jumbotron">
		<h1>Bem vindo a Lista de Compras</h1>

		<h3>O que deseja fazer?</h3>
	</header>
	<div class="container">
		<a  class="btn btn-primary btn-large" href="/items">Lista todos os items</a>
		<a  class="btn btn-primary btn-large" href="/items/new">Adicinar um novo produto</a>

		<div class="col-xs-2">
			<form action="/procura" method="GET">
			    Procurar pelo ID
			    <input class="form-control" type="text" placeholder="item procurado" name="busca">
			    <input class="btn btn-primary" type="submit">
			</form>
		</div>
	</div>	

<% include partials/footer %>