<% include partials/header %>

<div class="jumbotron" >
	<h1 >Lista de items</h1>
</div>
<div class="container">
    <% data.forEach(function(item) { %>
      	<div id="item" class="container">
      	  <%= item["id"]%> - 	
          <strong>
          <%= item["name"] %>
          </strong>
          - <%=item["category"]%>
          - <%=item["price"]%>
      	</div>
    <% }) %>
    <a class="btn btn-primary btn-large" href="/">Voltar</a>
</div>



<% include partials/footer %>