<% include partials/header %>
<div class="jumbotron">	
	<h1>Adicione um novo item</h1>
</div>

<div class="espaco col-xs-3" >
	<form action="/items" method="POST">
		<input class="form-control" type="text" name="id" placeholder="id">
		<input class="form-control" type="text" name="name" placeholder="name">
		<input class="form-control" type="text" name="category" placeholder="category">
		<input class="form-control" type="text" name="price" placeholder="price">
		<button class="btn btn-primary">Enviar</button>
	</form>
</div>
<% include partials/footer %>